.detalle-producto{
  background-color: white;
  border: 1px solid #666;
  border-radius: 10px;
  display: flex;
  width: 30rem;
  height: 80vh;
  justify-content: center;
  margin: auto;
  margin-top: 4vh;
}
.detalle-producto img{
  width: 50%;
  height: 100%;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.card-content{
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.nombreProducto{
  font-size: large;
  font-family: Arial, sans-serif;
  justify-content: center;
  display: flex;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.descripcionProducto{
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;

}
.precioProducto{
  font-size: 36px;
  text-align: center;
}
