.titulo{
  justify-content: center;
  display: flex;
  font-size: 3vw;
}
.buscador{
  margin-bottom: 2vh;
  margin-left: 4vw;
}
.container-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
